body {
    background: radial-gradient(circle, #4b0000 0%, #000 100%);
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header { padding: 15px; border-bottom: 1px solid #d4af37; width: 100%; text-align: center; }
.app-name { color: #d4af37; font-weight: bold; font-size: 24px; }

#main-display-container { margin: 20px 0; text-align: center; }

#main-display {
    width: 200px; height: 200px;
    background: radial-gradient(circle, #222, #000);
    border: 5px solid #d4af37;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
    box-shadow: 0 0 20px #d4af3755;
    margin: 0 auto;
}

.main-number { font-size: 80px; font-weight: bold; color: #d4af37; }

.update-bar {
    margin-top: 15px; background: rgba(0,0,0,0.6);
    padding: 5px 15px; border-radius: 20px; border: 1px solid #d4af37;
    font-size: 12px; color: #aaa;
}
.update-icon { color: #d4af37; margin-right: 5px; }

#grid-container {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 12px; padding: 15px; width: 100%; max-width: 450px;
}

.card {
    background: #111; border: 1.5px solid #333;
    border-radius: 10px; padding: 0; text-align: center; overflow: hidden;
}

.time-label {
    background: #222; color: #d4af37; padding: 8px;
    font-size: 14px; font-weight: bold; border-bottom: 1px solid #333;
}

/* လက်ရှိပွဲမှာ အချိန်ပြကွက်လေးကို ရွှေရောင်ပြောင်းရန် */
.card.active .time-label {
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728);
    color: #000;
}

.result-num { font-size: 38px; font-weight: bold; padding: 15px 0; }

.data-row {
    display: flex; justify-content: space-around;
    padding: 5px; font-size: 10px; color: #d4af37; border-top: 1px solid #222;
}
.data-row small { color: #fff; display: block; font-size: 12px; }
